.description {
    margin-top: 283px;
    width: 100%;
    position: relative;
}

.figure {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.img-wrapper {
    width: 440px;
}
.figure-img {
    background-image: url("../../assets/images/25-40/image.svg");
    background-size: initial;
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100%;
    height: 440px;
    position: relative;
}
.ellipsPic {
    position: absolute;
    width: 172px;
    height: 172px;
    top: 12px;
    left: 46px;
}
.graphPic {
    width: 440px;
    position: absolute;
    top: 141px;
    left: 0;
}
.graphicPic {
    position: absolute;
    width: 250px;
    top: 188px;
    left: 110px;
    z-index: 5;
}
.percent {
    display: inline-block;
    position: relative;
    font-family: 'Manrope Bold';
    font-size: 80px;
    line-height: 90px;
    color: #ff2c9c;
    margin: 51px 0 0 71px;
}
.percent-star {
    position: absolute;
    top: 15px;
    right: -10px;
}
.img-text {
    margin-top: 194px;
    margin-left: 53px;
    max-width: 187px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    color: #fff;
}
.img-text.ru {
    max-width: 337px;
}
.img-subtext {
    margin-top: 20px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}
@media (max-width: 1024px) {
    .img-wrapper {
        width: 540px;
    }
    .figure-img {
        background-size: cover;
    }
    .ellipsPic {
        top: 7px;
        left: 57px;
    }
    .graphPic {
        width: 540px;
        top: 143px;
    }
    .percent {
        margin: 44px 0 0 120px;
    }
    .img-text {
        margin-top: 206px;
        margin-left: 40px;
    }
    .img-text.ru {
        max-width: 400px;
    }
}
@media (max-width: 640px) {
    .img-wrapper {
        width: 333px !important;
    }
    .figure-img {
        height: 360px;
        background-size: cover;
    }
    .ellipsPic {
        height: 113px;
        width: 113px;
        top: 10px;
        left: 53px;
    }
    .graphPic {
        width: 333px;
        top: 110px;
    }
    .graphicPic {
        width: 203px;
        top: 161px;
        left: 91px;
    }
    .percent {
        margin: 34px 0 0 75px;
        font-size: 50px;
        line-height: 1.2;
    }
    .percent-star {
        top: 7px;
    }
    .img-text {
        margin-top: 186px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 1.71;
    }
    .img-text.ru {
        max-width: 400px;
    }
    .img-subtext {
        font-size: 10px;
        line-height: 1.8;
    }
}

.figure-caption {
    /*margin-top: 236px;*/
    margin-left: 32px;
}

.caption-img {
    margin-top: 116px;
    width: 60px;
    height: 60px;
}

.figure-text {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: #b7b4c9;

    margin: 60px 0 0;
    padding: 0;
    max-width: 565px;
}

.to-exchange {
    cursor: pointer;
    position: relative;
    top: 1px;
    z-index: 100;
}

.to-exchange:hover {
    cursor: pointer;
    color: #c00066;
}

@media (max-width: 1440px) {
    .description {
        width: calc(100% - 96px);
    }
}


@media (max-width: 1024px) {
    .description {
        width: 100%;
        margin: 160px auto 0;
    }
    .figure {
        margin: 0 auto;
        max-width: 540px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .figure-caption {
        margin-left: 0;
    }
    .img-wrapper {
        max-width: 540px;
        width: 100%;
    }
    .caption-img {
        margin: 70px 0 0;
    }
    .figure-text {
        margin: 40px auto 0;
        max-width: 541px;
    }
}

@media (max-width: 640px) {
    .description {
        margin: 44px auto 0;
        max-width: calc(100% - 42px);
    }
    /*.img-wrapper {*/
    /*    width: 100%;*/
    /*}*/
    .caption-img {
        margin: 60px 0 0;
    }
    .figure-text {
        margin: 20px auto 0;
    }
}

.coin-one {
    background-image: url("../../assets/images/coin-left-full.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -40px;
    left: -260px;
    z-index: -97;
}

.coin-two {
    background-image: url("../../assets/images/coin2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50px;
    right: -180px;
    z-index: -97;
}

.dots-from-right {
    display: none;
    background-image: url("../../assets/images/dotsFromRight.svg");
    background-repeat: no-repeat;
    width: 159px;
    height: 142px;
    position: absolute;
    bottom: -72px;
    right: -260px;
    z-index: -98;
}
.ellipsis {
    background-image: url("../../assets/images/ellipsMiddle.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -54px;
    right: 280px;
    z-index: -98;
}

@media (max-width: 1024px) {
    .coin-one {
        top: -60px;
        left: -85px;
    }
    .coin-two {
        top: 476px;
        right: -120px;
    }
    .dots-from-right {
        display: block;
    }
    .ellipsis {
        top: 660px;
        right: 180px;
    }
    .dots-from-right {
        display: none;
    }
}
@media (max-width: 640px) {
    .coin-one {
        background-size: contain;
        width: 80px;
        height: 71px;
        top: 13px;
        left: -35px;
    }
    .coin-two {
        background-size: contain;
        width: 78px;
        height: 69px;
        top: 281px;
        right: -65px;
    }
    .ellipsis {
        top: 462px;
        right: 75px;
    }

}
