.getBot {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.getBot-link:hover {
    margin-right: 0;
}

/*.getBot:after {*/
/*    content: '';*/
/*    background-image: url("../../assets/images/gridBottom.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    width: 1680px;*/
/*    height: 1220px;*/
/*    position: absolute;*/
/*    left: -260px;*/
/*    bottom: 0;*/
/*    z-index: -99;*/
/*}*/

.getBot-title {
    margin: 20px 0 0;
    max-width: 800px;
    font-weight: bold;
    text-align: center;
}

.getBot-subtitle {
    margin: 40px 0 0;
    max-width: 410px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #fff;
}

.getBot-btnBlock {
    margin: 460px auto 300px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.getBot-title-left {
    color: #fff;
    font-family: 'Manrope Bold';
    text-align: left;
    margin-bottom: 0;
    max-width: 830px;
}

.getBot-btn {
    width: 251px;
    height: 80px;
    z-index: 100;
}

.white {
    color: #fff;
}

.sm-break {
    display: none;
}

@media (max-width: 1440px) {
    .sm-break {
        display: block;
    }
    .getBot {
        width: calc(100% - 96px);
    }
    .getBot-title-left {
        max-width: 773px;
    }
}

@media (max-width: 1024px) {
    .getBot {
        width: 100%;
    }
    .getBot-title {
        margin-top: 60px;
        width: 100%;
    }
    .getBot-subtitle {
        font-size: 16px;
    }
    .getBot-btnBlock {
        margin: 371px auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .getBot-title-left {
        text-align: center;
    }
    .getBot-btn {
        width: 263px;
    }
}
@media (max-width: 640px) {
    .getBot {
        width: calc(100% - 42px);
    }
    .getBot-title {
        margin-top: 40px;
        font-size: 36px;
    }
    .getBot-subtitle {
        margin-top: 20px;
        font-size: 14px;
    }
    .getBot-btnBlock {
        margin: 198px auto 118px;
    }
    .getBot-title-left {
        text-align: center;
        font-size: 36px;
    }
    .getBot-btn {
        width: 173px;
        height: 52px;
        font-size: 14px;
    }
}

.sphere {
    background-image: url("../../assets/images/sphere.png");
    position: absolute;
    width: 300px;
    height: 142px;
    bottom: 0;
    right: 225px;
}
.bottom-triangle {
    display: none;
    background-image: url("../../assets/images/dotsFromRight.svg");
    position: absolute;
    width: 159px;
    height: 142px;
    bottom: 442px;
    right: -275px;
    z-index: -98;
}
.cylinder-red {
    background-image: url("../../assets/images/cylinder-red.svg");
    background-size: contain;
    position: absolute;
    width: 151px;
    height: 175px;
    top: 413px;
    left: -131px;
    z-index: -98;
}
.ellipsis-18-getBot {
    background-image: url("../../assets/images/ellipsis18.svg");
    background-size: contain;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 143px;
    left: -131px;
    z-index: -98;
}
.ellipsis-18-2-getBot {
    background-image: url("../../assets/images/ellipsis18.svg");
    background-size: contain;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 16px;
    right: 0;
    z-index: -98;
}
.ellipsis-10-getBot {
    background-image: url("../../assets/images/ellipsis10.svg");
    background-size: contain;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 635px;
    right: 239px;
    z-index: -98;
}

@media (max-width: 1024px) {
    .sphere {
        background-image: url("../../assets/images/sphere.png");
        position: absolute;
        width: 300px;
        height: 142px;
        bottom: 0;
        right: 0;
    }
    .bottom-triangle {
        display: none;
    }
    .cylinder-red {
        background-image: url("../../assets/images/cylinder-red.svg");
        background-size: contain;
        position: absolute;
        width: 151px;
        height: 175px;
        top: 500px;
        left: -50px;
        z-index: -98;
    }
    .ellipsis-10-getBot {
        top: auto;
        bottom: 300px;
        right: 115px;
    }
    .getBot:after {
        width: 985px;
        height: 985px;
        position: absolute;
        left: 0;
    }

}
@media (max-width: 640px) {
    .sphere {
        background-image: url("../../assets/images/sphere.png");
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 133px;
        height: 66px;
        bottom: -10px;
        right: -20px;
    }
    .cylinder-red {
        width: 89px;
        height: 104px;
        top: 500px;
        left: -50px;
        z-index: -98;
    }
    .ellipsis-10-getBot {
        top: auto;
        bottom: 472px;
        right: 120px;
    }
    .getBot:after {
        width: 627px;
        height: 500px;
        position: absolute;
        left: -100px;
    }

}
