@import url(./assets/fonts/manrope.css);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Source Sans Pro',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(5.43deg, #0F054C -77.75%, #0F054C 95.43%);
  width: 100vw;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  cursor: pointer;
  z-index: 100;
}

.button:hover {
  background-color: #c00066;
}

.button:focus {
  outline: none;
  z-index: 100;
}

.root {
  margin: 0 auto;
  width: 100%;
  /*max-width: 1160px;*/
  align-items: center;
  overflow-x: hidden;
  box-sizing: initial;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: Manrope;
}

a {
  cursor: pointer;
  transition: all linear .3s;
}

a:active {
  text-decoration: none !important;
}

a:hover {
  color: #c00066;
  text-decoration: none !important;
  margin-right: 10px;
}

.title-sm {
  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.33;
  color: #ff2c9c;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center !important;
  color: #fff;

  /*width: 195px;*/
  /*height: 64px;*/
  margin: 60px 0 0;
  padding: 14px 32px;
  border: none;
  border-radius: 20px;
  background-color: #ff2c9c;
}

.image-560 {
  width: 50%;
  max-width: 560px;
  height: auto;
}

@media (max-width: 1440px) {
  .root {
    /*width: calc(100% - 96px)*/
  }
}

@media (max-width: 1024px) {
  .root {
    max-width: 100%;
    /*width: calc(100% - 66px);*/
  }
  .main {
    max-width: 100%;
    width: calc(100% - 159px);
  }
  .image-560 {
    width: 100%;
    max-width: 394px;
  }
}

@media (max-width: 640px) {
  .button {
    padding: 8px 24px;
  }
  .root {
    /*width: calc(100% - 42px);*/
  }
  .main {
    width: 100%;
  }
}

/*bg*/

.top-bg {
  background-image: url("./assets/images/bgMain.svg");
  width: 100vw;
  height: 808px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -99;
}
@media (max-width: 1680px) {
  .top-bg {
    top: 91px;
  }
}
@media (max-width: 1024px) {
  .top-bg {
    top: 200px;
  }
}
@media (max-width: 640px) {
  .top-bg {
    height: 373px;
    top: 240px;
  }
}

.bottom-bg {
  background-image: url("./assets/images/gridBottom.svg");
  width: 100vw;
  height: 1363px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -99;
}
@media (max-width: 1680px) {
  .bottom-bg {
    height: 1150px;
  }
}

@media (max-width: 640px) {
  .bottom-bg {
    height: 500px;
  }
}


/*flying staff*/

.bg-obj-triangle-top-left {
  background-image: url("./assets/images/triangle-top-left.svg");
  width: 138px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 751px;
  left: 0;
}
.bg-obj-triangle-top-right {
  background-image: url("./assets/images/triangle-top-right.svg");
  width: 159px;
  height: 142px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 166px;
  z-index: -99;
}
.bg-obj-triangle-bottom-left {
  background-image: url("./assets/images/triangle-top-left.svg");
  width: 138px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1937px;
  left: 0;
}
.bg-obj-triangle-bottom-right {
  background-image: url("./assets/images/dotsFromRight.svg");
  width: 159px;
  height: 142px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 552px;
  right: -40px;
}
@media (max-width: 1024px) {
  .bg-obj-triangle-top-left {
    display: none;  }
  .bg-obj-triangle-top-right {
    display: none;  }
  .bg-obj-triangle-bottom-left {
    display: none;  }
  .bg-obj-triangle-bottom-right {
    display: none;
  }

}
